*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns:
		[full-start]
		minmax(6rem, 1fr)
		[center-start]
		repeat(10, minmax(min-content, 10rem))
		[center-end]
		minmax(6rem, 1fr)
		[full-end];
	padding: 3rem 0;
	grid-row-gap: 14rem;

	& > * {
		grid-column: center-start / center-end;
	}
}
