*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	// @media only screen and (max-width: $bp-medium) {
	// 	font-size: 50%;
	// }
}

.container {
	display: grid;
	grid-template-columns:
		[full-start]
		minmax(6rem, 1fr)
		[center-start]
		repeat(10, minmax(min-content, 10rem))
		[center-end]
		minmax(6rem, 1fr)
		[full-end];
	padding: 3rem 0;
	grid-row-gap: 14rem;

	@media only screen and (max-width: $bp-medium) {
		grid-row-gap: 4.5rem;
		grid-template-columns:
			[full-start]
			minmax(3rem, 1fr)
			[center-start]
			repeat(10, minmax(min-content, 10rem))
			[center-end]
			minmax(3rem, 1fr)
			[full-end];
	}

	& > * {
		grid-column: center-start / center-end;
	}
}
