body {
	font-family: 'Heebo', sans-serif;
	font-size: $default-font-size;
	line-height: 2.35rem;
	color: $color-black-2;
	font-weight: 400;
}

.heading-1 {
	font-size: 4.4rem;
	font-weight: 700;
	line-height: 6rem;

	@media only screen and (max-width: $bp-medium) {
		font-size: 3.2rem;
	}
}

.heading-2 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 4.4rem;

	@media only screen and (max-width: $bp-medium) {
		font-size: 2.4rem;
	}
}

.heading-3 {
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 3.8rem;

	@media only screen and (max-width: $bp-medium) {
		font-size: 2.2rem;
	}
}

.heading-4 {
	font-size: 2.2rem;
	line-height: 6rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
