$color-white-1: #fff;
$color-black-1: #000;
$color-black-2: #21243d;
$color-black-3: #142850;

$color-blue-1: #00a8cc;

$color-grey-light-1: #edf7fa;
$color-grey-dark-1: #8695a4;

$color-red-1: #ff6464;

$default-font-size: 1.6rem;
